<?xml version="1.0" encoding="UTF-8"?> 
<configuration>
	<configSections>
		<section name="aspview" type="Castle.MonoRail.Views.AspView.AspViewConfigurationSection, Castle.MonoRail.Views.AspView" />
	</configSections>
	<aspview saveFiles="true" debug="false">
		<!-- assemblies needed for the views -->
		<reference assembly="System.Core.dll" isFromGac="true" />
		<reference assembly="Ohio.Web.UI.dll" />
		<reference assembly="Ohio.Model.dll" />
		<reference assembly="Castle.Tools.CodeGenerator.External.dll" />
		<reference assembly="Delver.Framework.dll" />
		<reference assembly="AntiXssLibrary.dll" />
		<!--
			<reference assembly="Castle.Components.Pagination.dll"/>
			-->
	</aspview>
	
	<!-- this will allow c#3 syntax in the views -->
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
</configuration>