/* reset */
html, body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li
{
	margin	: 0;
	padding	: 0;
	position: relative;
}
*
{
	font-family : Tahoma, Arial;
	font-size	: 13px;
}

h6 { font-size	: 105%;}
h5 { font-size	: 110%;}
h4 { font-size	: 115%;}
h3 { font-size	: 120%;}
h2 { font-size	: 130%;}
h1 { font-size	: 140%;}

.error
{
	color				: #FE1010;
	background-color	: #DEDEDE;
	font-size			: 105%;
	padding				: 10px;
}

table td
{
	vertical-align	: top;
}

body
{
	background-color : #FAFAFA;
}


div.rtl
{
	direction :rtl;
}

ul
{
	padding	: 5px 0 5px 0;
}

li
{
	list-style-position : inside;
}

a
{
	color		: Blue;
}

div#canvas
{
	width			: 95%;
	margin-right	: auto;
	margin-left		: auto;
}

div#header
{
	margin	: 5px 0 15px 0;
}

h1
{
	text-align : center;
}


ul#main-menu
{
	width	: 200px;
}

div#canvas > div#content
{
	padding	: 5px 210px 5px 5px;
	min-height	: 400px;
}
div#canvas > div#content > div#menu
{
	position	: absolute;
	top			: 0;
	right		: 0;
	width		: 200px;
}

div#footer
{
	margin-top	: 10px;
	padding-top	: 10px;
	border-top	: 2px solid silver;
	text-align : center;
}
div#footer ul
{
	list-style-type : none;
}
div#footer ul li
{
	float : right;
	margin : 0 5px 0 5px;
}

div#footer ul li a
{
	font-size : 12px;
	color	  : #090909;
}

div.tech
{
	padding : 5px 0 5px 0;
}
div.tech p
{
	font-style	: italic;
}
div.tech p:after
{
	content	: ":";
}

#sql-log
{
	position:absolute;
	background-color : Silver;
	border : 1px solid black;
	width : 500px;
	font-family : Consolas;
	font-size : 12px;
}
#toggle-sql-log
{
	position:absolute;
	bottom:0;
	left:0;
}

div.person-profile h5
{
	margin-top:10px;
}

