/* reset */
html, body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li
{
	margin	: 0;
	padding	: 0;
	position: relative;
}
*
{
	font-family : Tahoma, Arial;
	font-size	: 13px;
}

h6 { font-size	: 105%;}
h5 { font-size	: 110%;}
h4 { font-size	: 115%;}
h3 { font-size	: 120%;}
h2 { font-size	: 130%;}
h1 { font-size	: 140%;}

.error
{
	color				: #FE1010;
	background-color	: #DEDEDE;
	font-size			: 105%;
	padding				: 10px;
}

table td
{
	vertical-align	: top;
}

body
{
	background-color : #FAFAFA;
}


div.rtl
{
	direction :rtl;
}

ul
{
	padding	: 5px 0 5px 0;
}

li
{
	list-style-position : inside;
}

a
{
	color		: Blue;
}

div#canvas
{
	width			: 95%;
	margin-right	: auto;
	margin-left		: auto;
}

div#header
{
	margin	: 5px 0 15px 0;
}

h1
{
	text-align : center;
}


ul#main-menu
{
	width	: 200px;
}

div#canvas > div#content
{
	padding	: 5px 210px 5px 5px;
	min-height	: 400px;
}
div#canvas > div#content > div#menu
{
	position	: absolute;
	top			: 0;
	right		: 0;
	width		: 200px;
}

div#footer
{
	margin-top	: 10px;
	padding-top	: 10px;
	border-top	: 2px solid silver;
	text-align : center;
}
div#footer ul
{
	list-style-type : none;
}
div#footer ul li
{
	float : right;
	margin : 0 5px 0 5px;
}

div#footer ul li a
{
	font-size : 12px;
	color	  : #090909;
}

div.tech
{
	padding : 5px 0 5px 0;
}
div.tech p
{
	font-style	: italic;
}
div.tech p:after
{
	content	: ":";
}

#toggle-sql-log
{
	position	: fixed;
	bottom		: 2px;
	left		: 2px;
	padding		: 2px;
	background	: #EEEEEE none repeat scroll 0 0;
	color		: #AAAAAA;
	cursor		: pointer;
}

div.person-profile h5
{
	margin-top:10px;
}

.module-details span.caption
{
	font-weight	: bold;
}
.module-details p
{
	padding	: 5px 0;
}
.module-details ul
{
	padding	: 0;
}

table#module-options th
{
	padding-right	: 10px;
}
table#module-options tr:hover td
{
	background-color: #FFB;
	cursor			: pointer;
}


.Covering
{
	position	: fixed;
	left		: 0;
	top			: 0;
	height		: 100%;
	width		: 100%;
}
#sqlLogBlocker
{
	background-color:#DDDDDD;
	opacity		: 0.5;
}
#sqlLogWrapper
{
}
#sqlLog
{
	width		: 500px;
	height		: 400px;
	overflow	: scroll;
	margin		: 0 auto;
	top			: 100px;
	background	: #FFF;	
}
#sqlLog pre
{
	margin		: 5px 0 0 0;
	padding		: 5px 0 0 0;
	border-top	: 1px dotted #CCC;
	height		: 16px;
	overflow	: hidden;
	font-family	: Consolas;
	font-size	: 12px;
}
#sqlLog pre.UnCollapsed
{
	height		: auto;
}
#sqlLog pre:before
{
	content:'+ '
}
#sqlLog pre.UnCollapsed:before
{
	content:'- '
}
