<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="aspview" type="Castle.MonoRail.Views.AspView.AspViewConfigurationSection, Castle.MonoRail.Views.AspView" />
		<section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<appSettings />
	<connectionStrings>
		<add name="OpenU" connectionString="Data Source=localhost;Initial Catalog=openuni;Integrated Security=SSPI;" />
	</connectionStrings>
	<aspview saveFiles="false" autoRecompilation="true">
<!--		<reference assembly="System.Core.dll" isfromgac="true" />-->
		<reference assembly="Castle.Components.DictionaryAdapter.dll" />
		<reference assembly="Castle.Components.Validator.dll" />
		<reference assembly="Castle.MonoRail.Framework.dll" />
		<reference assembly="Castle.Tools.CodeGenerator.External.dll" />
		<reference assembly="OpenUni.Web.UI.dll" />
		<reference assembly="OpenUni.Domain.dll" />
	</aspview>

	<activerecord pluralizeTableNames="true" default-lazy="true">
		<config>
			<add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
			<add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
			<add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
			<add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
			<add key="connection.connection_string_name" value="OpenU" />
			<add key="current_session_context_class" value="NHibernate.Context.ManagedWebSessionContext" />
			<add key="cache.use_second_level_cache" value="true" />
			<add key="cache.use_query_cache" value="true" />
			<add key="connection.release_mode" value="on_close" />
			<add key="cache.provider_class" value="NHibernate.Caches.SysCache2.SysCacheProvider,NHibernate.Caches.SysCache2" />
			<add key="relativeExpiration" value="300" />
			<add key="show_sql" value="true" />
		</config>
	</activerecord>
	
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<authentication mode="Windows" />
		<pages>
		</pages>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	<system.webServer>
		<modules>
			<add name="routing" type="Castle.MonoRail.Framework.Routing.RoutingModuleEx, Castle.MonoRail.Framework" />
		</modules>
		<handlers>
            <clear />
			<add name="JavaScriptFiles" path="*.js" verb="GET" modules="StaticFileModule" scriptProcessor="" resourceType="File" requireAccess="Script" />
			<add name="HtmlPages" path="*.html" verb="GET" modules="StaticFileModule" scriptProcessor="" resourceType="File" requireAccess="Script" />
			<add name="HtmPages" path="*.htm" verb="GET" modules="StaticFileModule" scriptProcessor="" resourceType="File" requireAccess="Script" />
			<add name="GifImages" path="*.gif" verb="GET" modules="StaticFileModule" scriptProcessor="" resourceType="File" requireAccess="Script" />
			<add name="PngImages" path="*.png" verb="GET" modules="StaticFileModule" scriptProcessor="" resourceType="File" requireAccess="Script" />
			<add name="JpegImages" path="*.jpg" verb="GET" modules="StaticFileModule" scriptProcessor="" resourceType="File" requireAccess="Script" />
			<add name="CssFiles" path="*.css" verb="GET" modules="StaticFileModule" scriptProcessor="" resourceType="File" requireAccess="Script" />
			<add name="Icons" path="*.ico" verb="*" modules="StaticFileModule" scriptProcessor="" resourceType="File" requireAccess="Script" />
			<add name="MonoRail" path="*" verb="*" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="" responseBufferLimit="4194304" />
		</handlers>
	</system.webServer>
	<log4net>
		<appender name="SqlLog2" type="log4net.Appender.RollingFileAppender">
			<file value="sql.log" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %message%newline" />
			</layout>
		</appender>
		
		<appender name="SqlLog" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1" />
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<connectionString value="Data Source=localhost;Initial Catalog=openuni;Integrated Security=SSPI;" />
			<commandText value="INSERT INTO dbo.[SqlLog] ([Date],[Message],[PageURL],[RequestId]) VALUES (@log_date, @message, @pageUrl, @requestId)" />
			<parameter>
				<parameterName value="@log_date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="@message" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@pageUrl" />
				<dbType value="String" />
				<size value="2000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{page_url}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@requestId" />
				<dbType value="String" />
				<size value="2000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{request_id}" />
				</layout>
			</parameter>
		</appender>
		<logger name="NHibernate.SQL">
			<level value="DEBUG" />
			<appender-ref ref="SqlLog" />
		</logger>	
	</log4net>
</configuration>
